<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /campus_connect/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /campus_connect/index.html [L]
</IfModule>
